html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}


header, footer {
    display: flex;
    min-height: 100px;
    background-color: #dddddd;
    padding: 10px;
    justify-content: center;
}

header nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header nav .active {
    color: white;
}