.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.my-table th, .my-table td {
  border: 1px solid black;
  padding: 10px;
}

/* Custom Styles */
.multilevel-accordion-list,
.multilevel-accordion-list ul {
  list-style: none;
  padding: 0;
}

.multilevel-accordion-list li {
  margin-bottom: 10px;
}

.multilevel-accordion-list li > div {
  cursor: pointer;
  background-color: #eee;
  padding: 5px;
  border: 1px solid #ddd;
}

.nested-list {
  display: none;
  list-style: none;
  padding: 0;
}

.nested-list.open {
  display: block;
}